## Import

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

import scraptools.scrap_main as sm
import scraptools.scrap_info as si
import fptools.fptools as fp

In [2]:
# inti get daft
get_daft = sm.try_action(sm.init_get_app('lxml'))

In [3]:
# first access to page


def run_get_ads_by_county(county):
    url = sm.init_url(county)

    daft = get_daft(url['base'], url['general_search'], url['county'], url['pages'])

    limit = sm.get_calculated_limit(daft)

    unflatten_data_ads_county= sm.init_get_adds_by_page(get_daft)(limit, county=county)

    return sm.flatten_data_ads(unflatten_data_ads_county)

In [4]:
data_ads_cork = run_get_ads_by_county('cork')

100%|██████████| 20/20 [00:24<00:00,  1.22s/it]
100%|██████████| 20/20 [00:25<00:00,  1.27s/it]
100%|██████████| 20/20 [00:26<00:00,  1.31s/it]
100%|██████████| 20/20 [00:26<00:00,  1.32s/it]
100%|██████████| 20/20 [00:22<00:00,  1.11s/it]
100%|██████████| 15/15 [00:16<00:00,  1.11s/it]
0it [00:00, ?it/s]

In [5]:
# data_ads_cork[23]

In [6]:
# data_ads_dublin = run_get_ads_by_county('dublin')

In [7]:
# len(data_ads_dublin)

In [8]:
# data_ads_dublin[-1]

In [9]:
import pandas as pd
cork_rent = pd.DataFrame(data_ads_cork)

In [10]:
cork_rent.head()

,id,Rent,Frequence,Address,Type,Facilities,Ber,Ber n,Author,Description,...,Created_at,Closed_at,Close,Double Bedroom,Single Bedroom,Bathroom,Furnished,Lease,lat,long
0,26495328,2485,month,"Apartment 105, The Elysian, Eglinton Road, Co....",Apartment,"[Parking, Central Heating, Alarm, Cable Televi...",B2,NaN,The Elysian,Experience the luxury of living in this wonder...,...,2021-10-26,None,False,3,None,3,Yes,Minimum 1 Year,51.89638321328515,-8.465369666409304
1,25965075,3426,month,"Apartment 178, The Elysian, Eglinton Road, Co....",Apartment,"[Parking, Central Heating, Alarm, Cable Televi...",B2,NaN,The Elysian,Experience the luxury of living in this wonder...,...,2021-10-26,None,False,3,None,4,Yes,Minimum 1 Year,51.89638321328515,-8.465369666409304
2,22094451,2960,month,"Marsh'sYard 3 Bedroom Apartment, Copley Street...",Apartment,"[Parking, Central Heating, Washing Machine, Dr...",NA,NaN,Steelworks Reception,Luxury three bedroom apartment in the heart of...,...,2021-10-26,None,False,3,None,3,Yes,Minimum 6 Months,51.89510310892004,-8.46647241548439
3,26536465,3952,month,"MY 4 Bedroom Apartment, Copley Street, Copley ...",Apartment,"[Parking, Central Heating, Washing Machine, Dr...",NA,NaN,Steelworks Reception,Ideally located in Cork City Centre this 4 bed...,...,2021-10-26,None,False,3,1,4,Yes,Minimum 6 Months,51.89510310892004,-8.46647241548439
4,26638039,2200,month,"Knockduff House Gate Lodge, Kinsale, Co. Cork",House,"[Parking, Central Heating, Alarm, Cable Televi...",A2,NaN,Mareta Doyle,Beautifully renovated and extended Gate Lodge ...,...,2021-10-26,None,False,1,None,2,Yes,Minimum 9 Months,51.70127252296622,-8.47764790099177

In [29]:
cork_rent['Rent'] = pd.to_numeric(cork_rent['Rent'])

In [30]:
# cork_base = cork_rent[['id', 'Rent', 'Frequence', 'Address', 'Type', 'Ber', 'Ber n', 'Double Bedroom', 'Single Bedroom', 'Bathroom', 'Lease', 'Furnished']]

In [38]:
dic_tes={
    'id':1,
    'name':'Alfred',
    'child':{'Paul', 'Louis'},
    'Houses':{'Paris', 'Milan', 'Amsterdam'}}

for i in dic_tes.items():
    print(i)

('id', 1)
('name', 'Alfred')
('child', {'Louis', 'Paul'})
('Houses', {'Paris', 'Milan', 'Amsterdam'})